<html>
    <head>
        <link rel = "stylesheet" href = "bootstrap.min.css">
        <link rel = "stylesheet" href = "home.css">
    </head>
   <body style = "background-image: url(https://previews.123rf.com/images/famveldman/famveldman1505/famveldman150500048/39757261-kids-playing-with-wooden-toys-two-children-cute-toddler-girl-and-funny-baby--playing-with-wooden-.jpg); background-size: cover;">



    <h1 style = "color:black; text-align: center;">Dyslexia Test</h1>

    <form action = "/testStarted" method = "POST" style = "width: 30%; margin: auto;">
        <div class="form-group">
          <label for="exampleInputEmail1" style = "color: white;">Student Name</label>
          <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter your Name" name="name" required>
        </div>

        <div style= "width: 100%;">
            <button type="submit" class="btn btn-primary" style = "width:100%;">Get Started</button>
        </div>
        </form>
   </body> 
   </html>